$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px
);

$primary: #5A4DC5;
$secondary: #E5E5E5;
$bg-dark: #151941;

$la-font-path: '../fonts';

$font-family-base: 'Gilroy', 'Helvetica Neue', 'Helvetica', --apple-system, sans-serif;
